---
import About from "../components/About.astro";
import Techs from "../components/Techs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="flex-grow flex justify-center items-start p-5">
    <section class="text-cyan-50 h-auto">
      <About />
      <h2 class="text-center m-4">Tecnologias que Manejo</h2>
      <Techs />
    </section>
  </main>
</Layout>
