<footer
  class="flex justify-center flex-col items-center p-2 text-[var(--text-main)]"
>
  <ul class="list-none flex justify-center gap-4 mb-4">
    <li>
      <a href="tel:+543751619821" target="_blank">Telefono</a>
    </li>
    <li>
      <a
        href="mailto:lucasreinert2006@gmail.com?Subject=Consulta%20tecnica"
        target="_blank">Correo</a
      >
    </li>
    <li>
      <a href="https://wa.me/543751619821" target="_blank">WhatsApp</a>
    </li>
    <li>
      <a href="https://github.com/Reinert-Lucas" target="_blank">GitHub</a>
    </li>
  </ul>
  <p class="font-light text-sm">
    © {new Date().getFullYear()} Reinert Lucas. All rights reserved.
  </p>
</footer>
