<header class="flex justify-center items-center p-4">
  <nav>
    <ul class="list-none flex items-center justify-center gap-10">
      <li class="text-center text-wrap">
        <a href={"/"}>Inicio</a>
      </li>
      <li class="text-center text-wrap">
        <a href={"/todos-projects"}>Mis Proyectos</a>
      </li>
      <li class="text-center text-wrap">
        <a href={"/Reinert_CV.pdf"} download="Reinert_CV">Mi Curriculum</a>
      </li>
    </ul>
  </nav>
</header>
