<section class="bg-[#33274785] text-white rounded-xl p-4 max-w-3xl mx-auto">
  <div class="grid grid-cols-2 gap-8 text-center">
    <article>
      <header>
        <h3 class="text-lg font-bold text-indigo-400 mb-4">Front-End</h3>
      </header>
      <ul class="space-y-2 font-medium">
        <li>ReactJS</li>
        <li>HTML5/CSS3</li>
        <li>TailwindCSS</li>
        <li>Astro</li>
      </ul>
    </article>
    <article>
      <header>
        <h3 class="text-lg font-bold text-indigo-400 mb-4">Back-End</h3>
      </header>
      <ul class="space-y-2 font-medium">
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>ExpressJs</li>
        <li>NodeJS</li>
      </ul>
    </article>
  </div>
</section>
