---
import { Font } from "astro:assets";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Portfolio personal de Reinert Lucas, desarrollador web full stack junior con conocimientos en React, Astro, Node.js y Express. Explora mis proyectos y habilidades."
    />
    <meta name="robots" content="index, follow" />
    <meta
      name="keywords"
      content="portfolio, desarrollo web, React, Express, Node.js, frontend, backend, desarrollo full-stack, aplicaciones web, programación, desarrollo de software, diseño web, JavaScript, HTML, CSS, API REST, desarrollo de aplicaciones, tecnología web"
    />
    <meta name="geo.region" content="AR-M" />
    <meta name="geo.placename" content="Eldorado, Misiones" />
    <meta name="geo.position" content="-26.4083;-54.6247" />
    <meta name="ICBM" content="-26.4083, -54.6247" />
    <meta name="author" content="Reinert Lucas Iván" />
    <meta property="og:title" content="Reinert Lucas Iván - Portfolio" />
    <meta
      property="og:description"
      content="Portfolio personal de Reinert Lucas, desarrollador web full stack junior con conocimientos en React, Astro, Node.js y Express. Explora mis proyectos y habilidades."
    />
    <meta property="og:image" content="/imgs/avatar.jpg" />
    <meta property="og:url" content="https://reinert-lucas.netlify.app/" />
    <meta property="og:type" content="website" />
    <link rel="apple-touch-icon" href="/imgs/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>
      Reinert Lucas - Portfolio de Desarrollador Web Full Stack Junior (React,
      Next.js, Node.js, Express)
    </title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Reinert Lucas Iván - Portfolio",
        "description": "Portfolio personal de Reinert Lucas, desarrollador web full stack junior con conocimientos en React, Astro, Node.js y Express. Explora mis proyectos y habilidades.",
        "image": "/imgs/avatar.jpg",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Dirección no especificada",
          "addressLocality": "Eldorado",
          "addressRegion": "Misiones",
          "addressCountry": "AR"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": -26.4083,
          "longitude": -54.6247
        },
        "url": "https://reinert-lucas.netlify.app/",
        "telephone": "+54-3751-619821",
        "email": "lucasreinert2006@gmail.com",
        "openingHours": "Mo-Sa 06:00-00:00",
        "sameAs": [
          "https://www.linkedin.com/in/lucas-reinert-134020273/",
          "https://github.com/Reinert-Lucas"
        ]
      }
    </script>
  </head>
  <body class={`flex flex-col font-bold absolute top-0 z-[-2] w-screen h-full`}>
    <!-- Font -->
    <Font cssVariable="--font-onest" preload />
    <!-- Background -->
    <div
      class="pointer-events-none fixed inset-0 -z-10 h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <!-- Components -->
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  body {
    font-family: var(--font-onest);
  }
</style>
